/*Styles for forms (Login)*/

form {
    display: flex;
    flex-direction: column;
    background-color: beige ;
}

form div {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #636363;
    color: beige;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5855e9;
}

p {
    color: red;
}
